section(class="canvas front" id="front")

    div(class="content")

        h2 Pesavento

        div

            p Servizi integrati per lo sviluppo e la gestione della tua impresa.

            div

                a(href="#section-2") Services
                a(href="#section-3") Experience

    +nav-1({ target: "section-1", direction: "next" })
