section(class="canvas front" id="front")

    div(class="content")

        h2 Reeva

        div

            p At the creative intersection of digital business, information ecology, fiction and imagination.

            div

                a(href="#section-2") Services
                a(href="#section-3") Experience

    +nav-1({ target: "section-1", direction: "next" })
